.hiddenonmobile {
  display: block;
}
.hiddenonlap {
  display: block;
}
/* style contents for mobile only */

@media (max-width: 769px) {
  .hiddenonmobile {
    display: none;
  }
  .pad {
    padding: 10px;
  }
  .title {
    font-size: 2rem;
    margin-bottom: 30px;
  }
  .spb ol li {
    margin-right: 3px;
  }
}

/* style contents for larger screens only */

@media (min-width: 769px) {
  .hiddenonlap {
    display: none;
  }
  .flex-container {
    display: flex;
    justify-content: space-between !important;
  }
  .title {
    font-size: 3rem;
    margin-bottom: 40px;
  }
  .spb ol li {
    margin-right: 10px;
  }
}

/* stylings that doesnt affect screens only */
.b2top {
  display: none;
  position: fixed;
  bottom: 50px; /* Distance from the bottom of the page */
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #f3f0ee;
  color: rgb(8, 8, 8);
  text-align: center;
  border-radius: 50%;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
  z-index: 3546474;
  box-shadow: 0 4px 6px rgba(8, 8, 8, 0.5);
}
.display-btn {
  display: block;
}
.flex {
  display: flex;
}
ol {
  list-style: none;
}
ul {
  list-style: none;
}
ul a {
  text-decoration: none;
}
ul a:hover {
  color: #f70606;
}
a {
  text-decoration: none;
}
/* Enable dropdown on hover */
.hover-dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* Optional: removes dropdown slide-down */
}

/* Optional: smooth appearance */
.hover-dropdown .dropdown-menu {
  transition: all 0.3s ease;
  display: none;
  position: absolute;
}
.btn {
  border-radius: 0;
}
.spb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px; /* Optional: add a little gap */
}

.spb ol li:hover {
  color: #f70606;
}
